
<!--<div class="col-md-offset-3 col-md-6">
	<form action="/notebook/note" method="GET">
		<span class="input-group">
			<input type="search" name="search" placeholder="Enter your search parameters" class="form-control" /><i class="fa fa-search"></i>
		</span>
	</form>
</div>
-->


<div class="col-md-offset-4 col-md-3 search_form">
	<form action="/notebook/note" method="GET">
		 <div class="input-box">
		    <a href="javascript:;" class="remove"></a>
		    <div class="input-group">
		    	<div class="col-md-9">
				    <input type="search" class="form-control" name="search" placeholder="Enter your search parameters"/>
				</div>
				<div class="col-md-3">
					<input type="submit" class="btn" value="Search"/>
				</div>
			</div>
		 </div>
 	</form>
</div>