<div class="col-md-12 search_page show">
	<form action="/notebook/note" method="GET">
		 <div class="input-box">
		    <a href="javascript:;" class="remove"></a>
		    <div class="input-group">
		    	<div class="col-md-9">
				    <input type="search" class="form-control" name="search" placeholder="Enter your search parameters"/>
				</div>
				<div class="col-md-3">
					<input type="submit" class="btn" value="Search"/>
				</div>
			</div>
		 </div>
 	</form>
</div>