<section class="main" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;" id="home">
  <div class="overlay" data-0="background-position:0px 0px;" data-500="background-position:0px -250px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6"> 
        
        <!--logo-->
        <div class="logo"><img src="img/logo.png" data-at2x="img/logo@2x.png" alt="logo"></div>
        <!--logo end--> 
        
      </div>
      <div class="col-md-6"> 
        
        <!--social-->
        <div class="social text-center">
          <ul>
            <li><a href="https://twitter.com/write" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/write" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://plus.google.com/write" target="_blank"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <!--social end--> 
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-1"> 
        
        <!--welcome-message-->
        <header class="welcome-message">
          <h1><span>Write</span></h1>
          <span>Your Note Delivered!</span>
          <h2>Because every great thing started with a Note!</h2>
        </header>
        <div class="action-btn"><a href="/login" class="btn btn-default">Log In</a> <a href="/register" class="btn btn-default">Sign Up</a></div>
        <!--welcome-message end--> 
        
      </div>
      <div class="col-md-5"> <img src="img/hero.png" alt="" class="wow fadeInRight hero-img" data-no-retina> </div>
    </div>
  </div>
</section>